
/* COLOR PALABRA CURRICULUM*/

h1.resaltado {
    color: rgb(94, 16, 114);
  }


/* Propiedades de la caja del cuerpo */
body {
    padding: 5px;  /* relleno */
    margin: 10px;  /* Margen */
    
    border-color: blueviolet;
    background-image: url(fondo.jpg);
    height: 100%;
}
h1{
  padding: 50px;  
  margin: 100px;  
  text-align: center;
  border: solid;
  font-family: 'Times New Roman', Times, serif;
  border-color: rgb(255, 0, 170);
  color: blueviolet;  
}


#bloques{
  float: right;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
}

#izquierda {
  float: left;
  width: 30%;
  margin: 25px;
}

h2{
  float: right;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
}

#derecha {
  float: right;
  width: 47%;
  margin: 1px;
}

  /*  Propiedades de la caja del párrafo */
h3 {
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: rgb(241, 228, 103);
}



