  
body{
    border: none;
    background-color: #8bd1b0;
  }
  
  #display{
    width: 600px;
    border-radius: 20px;
    margin: auto;
    float: center;
  }
  button{
    width: 45px;
    height: 45px;
    background-color: rgb(118, 35, 227);
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px 20px 20px 20px;
    border: solid;
      }

  p{
    width: 400px;
    height: 40px;
    border-color: black;
    background-color: #ff9933;
    opacity: 0.75;
    color: #5c2704;
    font-family: Verdana;
    font-size: 30px;
    border-radius: 15px 5px 15px 5px;
    text-align: right;
    margin: 25px;
    float: center;
    margin-left: auto;
    margin-right: auto;
  }