  
body{
    border: none;
    background-color: #8bd1b0;
    
  }
  
  #display{
    width: 600px;
    border-radius: 200px;
    margin: auto;
    float: center;
  }
  button{
    width: 70px;
    height: 70px;
    background-color: rgb(118, 35, 227);
    color: #ffffff;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 200px 200px 200px 200px;
    border: solid;
    text-align: right;
    margin: 25px;
    float: center;
    margin-left: auto;
    margin-right: auto;
      }

  p{
    width: 400px;
    height: 40px;
    border-color: black;
    background-color: #ffffff;
    opacity: 0.75;
    color: #1100ff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    border-radius: 15px 5px 15px 5px;
    text-align: right;
    margin: 25px;
    float: center;
    margin-left: auto;
    margin-right: auto;
  }