/* Estilo cabecera  */
header {
    background: url("ok.jpg") repeat-x;
    width: 100%;
    text-align: center;
    width: 84%;
    text-align: center;
    margin: -43px;
    margin-top: 1px;
    padding: 85px;
    margin-left: 21px;
    margin-bottom: -51px;
  }


/* Estilo fondo */
body {
    padding: 5px;  
    margin: 10px;  
    background-color: rgb(171, 117, 221);
    height: 100%;
}

#Texto{
    float: right;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    padding-block-end: 40px;
  }

#Resumen{
    background-color: rgba(230, 132, 132, 0.712);
    width: 28%;
    margin: 50px;
    float: left;
    border-radius: 0px;
    padding: 38px;
    border: solid;
    border-color: rgb(88, 86, 86);
    margin-top: 29px;
    padding-block-end: 29px;
    padding-top: 20px;
}
 
    

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: currentColor;
    border: solid;
    border-color: rgb(88, 86, 86);
    margin-left: 310px;
    margin-right: 300px;
    margin-top: 2px;
    background-color: #ffedf3;
    font-size: 49px;
}




h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(54, 54, 54);
    font-size: 39px;
    margin-top: 0px;
}

h3{
    background-color: #ffedf3;
    font-family: inherit;
    margin-left: -68px;
    margin-right: 177px;
    margin-top: 5px;
    margin-bottom: -11px;
    text-align: center;
    font-size: 30px;
}

h4{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(54, 54, 54);
    font-size: 20px;
    margin-top: 0px;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

br{
    font-size: 5px;
}


#Cuadro1{
    
    margin-right: 12px;
    margin-left: 13px;
    margin-bottom: 38px;
    margin-top: 9px;
    text-align: center; 
    padding: 38px; 
    border: solid; 
    border-color: rgb(88, 86, 86); 
    background-color: #f3e6f4d1;
    padding-inline-end: -16px;
    padding-bottom: 45px;
}

.Imagen{
    width: 94%;
    margin: 0;
    padding: 0;
}

#Iconos{
    margin-top: 17px;
    margin-bottom: 27px;
}

.Icono{
    width: 12%;
    background:#974545ba;
}

#Foto{
    display:block;
    text-align: center; 
}

#Datos{
    margin: 11px;
    text-align: left;
    margin-bottom: -26px;
    padding-bottom: 0px;
    margin-top: -4px;
    margin-left: -12px;
}

::marker {
    color: #974545ba;
    font-size: 1.25em;
  }


#Personalidad{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 14px;
}


#Cuadro2{
    background-color: rgba(230, 132, 132, 0.712);
    width: 50%;
    margin-top: 28px;
    margin-left: 529px;
    margin-bottom: -16px;
    border-radius: 0px;
    padding: 43px;
    border: solid;
    border-color: rgb(88, 86, 86);
    margin-bottom: 12px;
}




#Informacion{
    margin: 25px;
    margin-top: -19px;
    margin-bottom: -19px;
}


.video{
    width: 34%;
    margin: 27px;      
    margin-left: 53px;
    margin-top: -268px;
}

#Cuadro3{
    background-color: rgba(230, 132, 132, 0.712);
    width: 86.3%;
    margin-top: -2px;
    margin-left: 52px;
    margin-bottom: -16px;
    border-radius: 0px;
    padding: 43px;
    border: solid;
    border-color: rgb(88, 86, 86);
    margin-bottom: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
}

