
/* COLOR PALABRA CURRICULUM*/

h1 {
    color: rgb(170, 20, 207);
  }


/* Propiedades de la caja del cuerpo */
body {
    padding: 5px;  /* relleno */
    margin: 10px;  /* Margen */
    border: solid;
    border-color: blueviolet;
  }
  
  /*  Propiedades de la caja del párrafo */
  h3 {
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: blue;
  }