body {
    padding: 5px;  
    margin: 10px;  
    background-color: rgb(171, 117, 221);
    height: 100%;
}


#btn_video1{
     margin-right: 12px;
    margin-left: 13px;
    padding: 15px; 
    border: solid; 
    border-color: rgb(88, 86, 86); 
    background-color: #f3e6f4d1;
    padding-inline-end: -16px;
}

#btn_video2{
    margin-right: 12px;
    margin-left: 13px;
    padding: 15px; 
    border: solid; 
    border-color: rgb(88, 86, 86); 
    background-color: #f3e6f4d1;
    padding-inline-end: -16px;
}

#btn_video3{
    margin-right: 12px;
    margin-left: 13px;
    padding: 15px; 
    border: solid; 
    border-color: rgb(88, 86, 86); 
    background-color: #f3e6f4d1;
    padding-inline-end: -16px;
}