canvas {
    background-color: rgba(211, 160, 202, 0.932);
    border-style: solid;
    border-width: 3px;
    border-color: black; 
    margin-left: 196px;
    border-color: rgb(88, 86, 86);
    margin-top: -0px;
    width: 32.75%;
  }



.Imagen{
  width: 19.5%;
  margin: -81px;
  margin-top: -238px;
  margin-left: 47px;
  padding-bottom: 0px;
  margin-bottom: -18px;
}

h1{
    text-align: center;  
    background-color: white;
    margin-left: 429px;
    margin-right: 461px;
    margin-top: 0px;
 
}
h2{
  text-align: center;
  margin-bottom: 135px;
  margin-top: -10px;
}

#Texto{
  
  background-color:pink;
  width: 16%;
  padding: 43px;
  border: solid; 
  border-color: rgb(88, 86, 86);
  float: right;
  margin-right: 90px;
   
  padding-bottom: 0px;
  border-radius: 30px;
  margin-top: 30px;
}

body{
  background-color: rgb(162, 167, 247);
}