body {
  background-color: rgba(230, 132, 132, 0.712);
}
#cuadro{
  
  width: 50%;
  margin-bottom: 38px;
  margin-top: 9px;
  text-align: center;
  border: solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: rgb(88, 86, 86);
  background-color: #f3e6f4d1;
  padding-inline-end: -16px;
  padding-bottom: 45px;
}
#imagesrc{
  
  width: 65%;
  padding-top: 50px;
}