body {
  background-color: rgba(230, 132, 132, 0.712);
}
#cuadro{
  
  margin-left: 30px;
    margin-top: 12px;
    text-align: center; 
    padding: 10px; 
    border: solid; 
    border-color: rgb(51, 50, 50); 
    background: url("flor.jpg") repeat-x;
    padding-bottom: 38px;
    float: left;
    padding-top: 30px;
    border-radius: 35px;
  width: 51%;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: currentColor;
    border: solid;
    border-color: rgb(88, 86, 86);
    /*! margin-left: 15px; */
    margin-right: 85px;
    /*! margin-top: 2px; */
    background-color: #ffedf3;
    font-size: 49px;
    float: right;
    padding-right: 101px;
}




#imagesrc{
  
  width: 65%;
  padding-top: 0px;
  border: solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: rgb(88, 86, 86);
  margin-top: 10px;
  margin-bottom: 25px;
}
#caja{
  margin-top: -17px;
    text-align: center; 
    padding: 15px; 
    border: solid; 
    border-color: rgb(51, 51, 51); 
    background-color: #f3ffedd1;
    padding-bottom: 36px;
    float: right;
    margin-right: 170px;
    border-radius: 35px;
}

button{
  margin-right: 12px;
    margin-left: 13px;
    padding: 15px; 
    border: solid; 
    border-color: rgb(62, 57, 57); 
    background-color: #a8eaead1;
    border-radius: 5px;
    padding-inline-end: -16px;
}